<footer class="text-center text-lg-start">
  <div class="container d-flex justify-content-center py-5">
    <a
      type="button"
      class="btn btn-primary btn-lg btn-floating mx-2 text-primary"
      style="background-color: white"
      href="https://www.facebook.com/profile.php?id=100011741288220">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a
      type="button"
      class="btn btn-primary btn-lg btn-floating mx-2 text-dark"
      style="background-color: white"
      href="https://github.com/Belalnajy">
      <i class="fab fa-github"></i>
    </a>
    <a
      type="button"
      class="btn btn-primary btn-lg btn-floating mx-2 text-primary"
      style="background-color: white"
      href="https://linkedin.com/in/belalnajy">
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      type="button"
      class="btn btn-primary btn-lg btn-floating mx-2 text-info"
      style="background-color: white"
      href="#">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
  <div
    class="text-center text-white p-3"
    style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright: <a class="text-white" href="#">www.products.com</a>
  </div>
</footer>
